.section{
    text-align:center;
}
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.eot');
    src: url('../font/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/kaushanscript-regular-webfont.woff') format('woff'),
    url('../font/kaushanscript-regular-webfont.ttf') format('truetype'),
    url('../font/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.Contact {
    width: 960px;
    margin: auto;
}

.Contact div.article {
    margin-bottom: 50px;
}

.Contact div.article h1 {
    margin-bottom: 10px;
}

.Contact div.article p {
    text-align: justify;
    line-height: 120%;
}

.Contact div.article{
    font-size: 24px;
}